@charset "UTF-8";
* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
}
* a {
	text-decoration: none;
	color: black;
}
.ck-editor__editable[role="textbox"] {
    min-height: 250px;
}

.form-floating label::after {
    height: 0rem!important; /* 원하는 높이로 조정합니다. */
}

.commentSize {
	color: black;
	font-weight: 700;
}

.post .content {
	min-height: 200px;
}

.commentForm button {
	float: right;
}

.page-link {
	border: none!important;
	border-radius: 50%;
	color: black;
}

.active .page-link {
	background-color: black !important;
	border-radius: 50%;
}

.boardTitle {
	font-size: 15px;
  	font-weight: 500;
  	letter-spacing: 0;
 	line-height: 1.0em;
 	padding-bottom: 5px;
 	position: relative;
}

.boardTitle h5:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 55px;
  background-color: #111;
}

.boardTitle h5:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 155px;
  background-color: #333;
}