@charset "UTF-8";

.boardTitle{
	font-size: 15px;
  	font-weight: 500;
  	letter-spacing: 0;
 	line-height: 1.0em;
 	padding-bottom: 5px;
 	position: relative;
}

.boardTitle h5:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 55px;
  background-color: #111;
}

.boardTitle h5:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 155px;
  background-color: #333;
}